body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: lightblue;
}

.quem-somos {
    background-color: lightgray;
    color: black;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: mediumslateblue;
    color: white;
}

.bg-footer{
    background-color: black;
    color: blanchedalmond;
}